<div class="layout-container">
  <!-- Bal oldali sáv -->
  @if (!isAuthPage) {
    <app-sidebar></app-sidebar>
  }

  <!-- Középső tartalom, itt cserélődnek az oldalak -->
  <main class="main-content" [class.full-width]="isAuthPage">
    <router-outlet></router-outlet>
  </main>

  <!-- Jobb oldali sáv (későbbi funkciókhoz) -->
  @if (!isAuthPage) {
    <aside class="right-sidebar placeholder-content" style="width: 350px;">
      <!-- Itt lehet a keresés, ajánlások, stb. -->
    </aside>
  }
</div>

<app-toast></app-toast>
<app-confirm-dialog></app-confirm-dialog>
