<div class="explore-header">
  <div class="search-container">
    <svg viewBox="0 0 24 24" aria-hidden="true" class="search-icon"><g><path d="M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z"></path></g></svg>
    <input type="text" class="search-input" placeholder="Search">
  </div>
</div>

<!-- Trends szekció -->
<div class="trends-section">
  <h2 class="trends-header-title">Trends for you</h2>

  @for (trend of trends; track trend.title) {
    <div class="trend-item">
      <div class="trend-content">
        <span class="trend-category">{{ trend.category }}</span>
        <span class="trend-title">{{ trend.title }}</span>
      </div>
      <div class="trend-options">
        <svg viewBox="0 0 24 24" aria-hidden="true" width="18.75" height="18.75"><g><path d="M3 12c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9 2c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm7 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"></path></g></svg>
      </div>
    </div>
  }
</div>

<!-- Random Posztok Szekció -->
<div class="divider"></div>
<div class="random-posts-feed">
  @for (item of randomPosts; track item.post.id) {
    <app-post
      [post]="item.post"
      [user]="item.user">
    </app-post>
  }
</div>
